.header {
    width: 100%;
    background: #fff;
}

.header-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-button {
    font-family: 'Steelfish', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    letter-spacing: 0.05em;
    line-height: 29px;
    color: #000;
    text-decoration: none;
    padding: 5px 0;
    border: 2px solid #FFF;
    background: none;
    cursor: pointer;
}

.active-route {
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #000;
    text-decoration: none;
    padding: 5px 0;
    letter-spacing: 0.05em;
    border: 2px solid #FFF;
    background: none;
    cursor: pointer;
    border-bottom: 2px solid #000000;
}

.header-button:hover {
    border-bottom: 2px solid #000000;
    letter-spacing: 0.05em;
}
