@font-face {
  font-family: "Steelfish";
  font-style: normal;
  font-weight: 400;
  /* Браузер сначала попробует найти шрифт локально */
  src: local("Steelfish"),
  url("fonts/steelfish bd.otf") format("woff2"),
  /*  !* Если браузер не поддерживает woff2, загрузит woff *!*/
  url("fonts/steelfish bd.otf") format("woff");
}

@font-face {
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  /* Браузер сначала попробует найти шрифт локально */
  src:
  /*url("fonts/Helvetica Neue Condensed Black.ttf") format("truetype")*/
  url("fonts/Helvetica Neue Condensed Bold (3).ttf") format("truetype")
}

body {
  margin: 0;
  font-family: 'Steelfish', sans-serif;
  font-size: 24px;
  line-height: 29px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}
