.contacts-block {
    display: flex;
    justify-content: space-between;
    margin-top: 42px;
}
.text-container {
    font-family: 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: rgba(0, 0, 0, 0.3);
}

.contacts-form {
    max-width: 537px;
    width: 100%;
}

.form {

}

.send-button {
    font-family: "Steelfish", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    padding: 18px 45px;
    background: #000;
    color: #FFF;
    margin-top: 25px;
    cursor: pointer;
    width: fit-content;
}

.send-button-disabled {
    font-family: "Steelfish", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    padding: 18px 45px;
    background: #00000080;
    color: #FFF;
    margin-top: 25px;
    cursor: no-drop;
    width: fit-content;
}

.text-form {
    width: 100%;
    margin-top: 64px;
}

.info-mail {
    font-family: 'Steelfish', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    text-decoration-line: underline;
    color: #000000;
}

.icon-block {
    text-decoration: none;
    margin-top: 30px;
}

.social-buttons {
    cursor: pointer;
    margin-right: 30px;
}

.send-button:hover {
    background: #000000db;
}

.check-box-block {
    font-family: 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 8px;
}

.contacts-form-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Steelfish', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    margin-bottom: 35px;
}